
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', arial, sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slide-enter {
  animation: slide-down 750ms;
  /* transition: all 1s linear; */
}
.slide-enter-active {
  /* transform: translateY(0);
  height: 100%;
  transition: all 1s ease-in-out; */
}
/* .slide-exit {
  transform: translateY(0%);
  transition: 0.3s linear;
}
.slide-exit-active {
  transform: translateY(-100%);
} */

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  /* 25% {
    transform: translateY(-50%);
    opacity: 0.25;
  }
  50% {
    transform: translateY(0%);
    opacity: 0.5;
  }
  75% {
    transform: translateY(50%);
    opacity: 0.75;
  } */
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}